
//- block content
//-   h1= title
//-   p Welcome to #{title}

extends layout

block content

  //- p Welcome to #{title}
  html.
    <center>
      <a href="playvideo">press to watch a video !!</a>
    </center>