extends layout

block content
  
  html.
    <video controls>
      <!-- <source src="assets/small.ogv" type=video/ogg> -->
      <!-- <source src="assets/small.mp4" type=video/mp4>  -->
      <!-- <source src="resource?file=small.mp4" type=video/mp4> -->
      <source src="/media/small.mp4" type=video/mp4> 
    </video>

    <!-- <audio controls>
       <source src="resource?file=wKgDYlVrAgLABEv2AFsGmkv6cGI343.mp3">
       <source src="/media/sample.wav">
    </audio>-->

    <a href="recordaudio">press start Game!!</a>


